Repository Kong/icons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @jillztom @Kong/team-core-ui

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yml @adamdehaven @jillztom

# Generate scripts
/scripts/ @adamdehaven @jillztom

# SVG source files
/svg/ @adamdehaven @jillztom

# Existing component list
/src/component-list.ts @adamdehaven @jillztom

# ================================================
# Renovate Bot approvals
# Allow Kongponents BOT to approve dependency updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom
yarn.lock @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom

ci: add comments and enable
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

fix: accept string or number for size prop
  sandbox/components/SandboxIcon.vue
  src/__template__/ComponentTemplate.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

test: add unit test
  src/tests/generated-component.spec.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

test: add unit test
  src/tests/generated-component.spec.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore: formatting
  src/tests/generated-component.spec.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore: sort exported arrays
  scripts/utilities/component-list.ts
Owners: @adamdehaven, @jillztom

chore: add error messaging
  scripts/generate-icon-components.ts
  scripts/update-component-list.ts
  scripts/utilities/component-list.ts
  scripts/utilities/constants.ts
  scripts/utilities/get-all-files.ts
  src/component-list.ts
Owners: @adamdehaven, @jillztom

refactor: scripts and flow
  .gitignore
  package.json
  scripts/component-list.ts
  scripts/generate-icon-components.ts
  scripts/generate.ts
  scripts/update-component-list.ts
  scripts/utilities/component-list.ts
  scripts/utilities/generate-icon-components.spec.ts
  scripts/utilities/generate-icon-components.ts
  scripts/utilities/index.ts
  src/component-list.ts
  src/tests/__snapshots__/all-components.spec.ts.snap
  tsconfig.build.json
  vitest.config.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot

chore: delete files before build
  package.json
  scripts/utilities/constants.ts
  src/component-list.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom

ci: pass env to step instead of job
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

chore: remove line
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

chore: pass token to steps
  .github/workflows/publish.yaml
Owners: @adamdehaven, @jillztom

test: add snapshots
  README.md
  scripts/utilities/__snapshots__/generate-icon-components.spec.ts.snap
  scripts/utilities/generate-icon-components.spec.ts
  scripts/utilities/index.ts
  scripts/utilities/list.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

ci: reword comment
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

fix: ci package preview
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

docs: usage instructions
  README.md
  scripts/utilities/create-component.ts
  scripts/utilities/generate-icon-components.ts
  src/__template__/ComponentTemplate.vue
  src/tests/generated-component.spec.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

docs: update readme
  .github/workflows/publish.yaml
  README.md
  package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot

chore: update sandbox
  sandbox/components/SandboxIcon.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

docs: update readme
  .github/workflows/publish.yaml
  README.md
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore: reorganize
  package.json
  scripts/utilities/create-component.ts
  scripts/utilities/generate-icon-components.spec.ts
  scripts/utilities/generate-icon-components.ts
  scripts/utilities/get-icon-type.ts
  scripts/utilities/index.ts
  src/component-list.ts
  src/tests/__snapshots__/all-components.spec.ts.snap
  src/tests/__snapshots__/breaking-changes.spec.ts.snap
  svg/flags/eu.svg
  svg/flags/us.svg
  svg/multi-color/platforms/aws.svg
  svg/multi-color/platforms/azure.svg
  svg/multi-color/platforms/google-cloud.svg
  svg/multi-color/platforms/google.svg
  svg/multi-color/runtimes/runtime-composite.svg
  svg/multi-color/runtimes/runtime-dedicated-cloud.svg
  svg/multi-color/runtimes/runtime-hybrid.svg
  svg/multi-color/runtimes/runtime-kic.svg
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom

refactor: file utilities
  scripts/utilities/files.ts
  scripts/utilities/index.ts
Owners: @adamdehaven, @jillztom

refactor: get subdirectories
  scripts/utilities/generate-icon-components.ts
Owners: @adamdehaven, @jillztom

feat: multiple entry points
  package.json
  vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom

feat: multiple entry points
  package.json
  vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom

revert(425ed092): multiple entry points"
  package.json
  vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom

chore: comments
  .github/workflows/publish.yaml
Owners: @adamdehaven, @jillztom
